.about{
    margin-top: 5%;
}
.home{
    margin-top: 15%;
    margin-left: 15%;
}

.grid{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(1,1fr);
    margin-left: 20%;

}
.aakan{
    box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0);
    margin: 2%;
    width: 20%;
    height: 70%;
    border-radius:50%;

}
.pra{
    box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 2%;
    width: 20%;
    height: 70%;
    border-radius:50%;

}

.siddhi{
    box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 2%;
    width: 20%;
    height: 50%;
    font-size: larger;
    border-radius:50%;

}

.header{
    margin-top: 10%;
    margin-left: 30%;
    width: 100%;

}
.about1{
    border-top: 1px solid #b1c4c4;
    border-bottom: 1px solid #b1c4c4;
    /*position: relative;*/
    width: 70%;
    margin-left: 17%;
    margin-bottom: 5%;
}

