
.ballad{
    text-align: justify;
    font-family:"Times New Roman", Times, serif;
    font-size: 25px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top:5%;
}
.topnav{
    background-color:#06623b;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0%;
  }

.topnav a{
    float: left;
    color: white;
    text-align: center;
    padding: 2% 7.5%;
    text-decoration: none;
    font-size: 110%;
  }

.block-quote{
    color:#032d3c;
    font-style: italic;
    margin: 0;
    padding-left: 70px;
    position:relative;
    display: block;
}
  .textbackground{
      margin-top: 5%;
      margin-left: 5%;
      margin-bottom: 5%;
      margin-right: 5%;
      background-color: lightgoldenrodyellow;
  }
  