#Page_header{
    font-size: xx-large;
    text-align: center;
}
a:link 
{
    color: #00416d;
}

a:hover
{
    color:#cd0a0a;
}

.imagebox1{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 5%;
    text-align: center;
    margin-bottom: 47px;
    margin-top: 2%;
    margin-left:9%;
}

.imagebox2{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    text-align: center;
    margin-top: 3%;
    height: 40%;
    margin-left:5%;

}

.imagebox3{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-left: 10%;
    text-align: center;
    margin-top: 3%;
    height: 40%;


}

.imagebox4{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    text-align: center;
    margin-top: 2.5%;
    height: 40%;
    margin-left:25%;
    margin-right:3%;

}

.imagebox5{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    text-align: center;
    margin-top: 2.5%;
    height: 40%;
    margin-right:10%;
    margin-left:5%;

}
.header{
    margin-top: 10%;
    margin-left: 30%;
    width: 100%;

}

/*
#divider{
    width: 100%;
    height: 1%;
    display:block;
    margin-top: 0.5%;
    background-image: url("images/bluedivider.png");
    background-position: center;
}*/