#Page_header{
    font-size: xx-large;
    text-align: center;
}

.container
{
    height: 90%;
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2% 2%;
  
}
.cell {
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: 2rem;
  }

.cell1
{
    box-shadow:1px 1px 1px 1px #8d93ab;
}

  
  .cell2
{ 
    box-shadow:1px 1px 1px 1px #8d93ab;
}

.cell3 input[type=text] 
{
        font-size: 17px;
}

.cell3 input[type=button]
{
    font-size: 17px;
    float: left;

}
  
.cell4
{ 
    box-shadow:1px 1px 1px 1px #8d93ab;
}

.cell5
{
    box-shadow:1px 1px 1px 1px #8d93ab;
}