.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
body
{
   background-color: #f3f3f3;
}
.tagline{
margin-left: 20%;
font-style: oblique;
font-size: 125%;
}
.topnav{
  background-color: #251f44;
  overflow: hidden;
}

.topnav a{
  float: left;
  color: white;
  text-align: center;
  padding: 2% 5%;
  text-decoration: none;
  font-size: 109.5%;
}
