.header
{
    margin-top: 10%;
    margin-left: 30%;
    /*width: 100%;*/
}
.center {
  display: block;
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
.image_grid{
  display: grid;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows:repeat(1,1fr);
  padding-top: 2.5%;
  padding-left: 3%;
  padding-right: 2.5%;
  grid-gap: 2.5%;
}
/*
#latest{
  text-align: center;
  font-family: fantasy;
}
*/

.latest{
  margin-left: 2%;
  margin-right: 2%;
  float: left;
}

.text{
  margin-top: 5.5%;
  margin-right: 5%;
  text-align: justify;
  font-size: x-large;
}


.latest1{
  margin-right: 5%;
  margin-left: 2%;
  margin-top: 5%;
  float: right;
}

.text1{
  margin-top: 5.5%;
  margin-left: 2%;
  margin-right: 5%;
  margin-bottom: 15%;
  text-align: justify;
  font-size: x-large;
}

#quotes{
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#251f44;
  color: white;
  text-align: center;
}

.footer a{
  float: left;
  overflow: hidden;
  text-align: center;
  padding: 1% 12.5%;
  text-decoration: none;
  font-size: 155%;
}
/*
#summary{
font-size: large;
text-align: justify;
}

body
{
   background-color:white;
}

.tagline{
margin-left: 35%;
font-style: oblique;
font-size: 125%;
}

.img-with-text{
  text-align: justify;
  width: 100%
}

.img{
  width: 100%;
  height: 65%;

}
#seperate{
  display: grid;
  grid-template-rows:repeat(1,1fr);
  grid-template-columns:repeat(2,1fr);
  justify-content: center;
  text-align: center;
  font-size: 200%;
}
.home{
  margin-top:6%;
  margin-left:1.5%;
  font-style: italic;
  text-align: center;
  font-size:450%;
}
.home1{
  margin-left:1.5;
  font-style: italic;
  font-size: 25px;
  text-align: center;
}
/*.white-background{
  margin-top: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
 
}
*/

a:link 
{
    color: #00416d;
}

a:hover
{
    color:#cd0a0a;
}


