
.topnav{

    background-color: solid #251f44;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .topnav a{
    float: left;
    overflow: hidden;
    color: white;
    text-align: center;
    padding: 2% 6.5%;
    text-decoration: none;
    font-size: 155%;
  }